<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen-color]="true">
    <ion-card *ngFor="let card of cards">
      <ion-card-header>
        <img src={{card.foto}}/>
        <ion-card-title>{{ card. titulo }}</ion-card-title>
        <ion-card-subtitle>{{ card. subtitulo }}</ion-card-subtitle>
      </ion-card-header>  

      <ion-card-content>
        {{ card. conteudo }}
      </ion-card-content>
      <ion-button>
      <ion-badge>
      <ion-badge color="primary">Likes</ion-badge>    
    </ion-badge>
  </ion-button>
<ion-button>
  <ion-badge>
    <ion-badge color="primary">Comentários</ion-badge>
  </ion-badge>
</ion-button>
   
    </ion-card>
</ion-content>

